{{#paper-card id="choose-hookah" as |card|}}
  {{#card.title as |title|}}
    {{#title.text as |text|}}
      {{#text.headline}}Выберите кальян{{/text.headline}}
    {{/title.text}}
  {{/card.title}}

  {{#card.content class="layout-column layout-align-center"}}
    {{#paper-list}}
      {{#each hookahList as |hookah|}}
        {{#paper-item class="md-3-line" onClick=(action selectHookah hookah)}}
          <img src={{hookah.img}} alt={{hookah.name}} class="md-avatar">
          <div class="md-list-item-text">
            <h4>{{hookah.name}}</h4>
            <p>{{hookah.price}}грн</p>
          </div>
        {{/paper-item}}
      {{/each}}
    {{/paper-list}}
  {{/card.content}}
{{/paper-card}}

{{#if showAnimatedDialog}}
  {{#paper-dialog
      fullscreen=false
      onClose=(action set 'showAnimatedDialog' false)
      openFrom="#choose-hookah"
      closeTo="#choose-hookah"
  }}

    {{#paper-dialog-content}}
      <h2 class="md-title">Сохранить заказ</h2>
      <p>Уверен (-_-)?</p>
    {{/paper-dialog-content}}

    {{#paper-dialog-actions class="layout-row"}}
      <span class="flex"></span>
      {{#paper-button cancel=true onClick=(action set 'showAnimatedDialog' false) }}Не, сорян!{{/paper-button}}
      {{#paper-button primary=true onClick=(action (perform save)) }}Угу!{{/paper-button}}
    {{/paper-dialog-actions}}
  {{/paper-dialog}}
{{/if}}

{{#if showToast}}
  {{#paper-toast duration=2000 parent="body" position="left top" swipeToClose=true onClose=(action set 'showToast' false) as |toast|}}
    {{#toast.text}}
      Сохранено
    {{/toast.text}}
  {{/paper-toast}}
{{/if}}
