<div class="card">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    {{#if fetchHookahRequests.isRunning}}
        <div>
          ...loading
        </div>
      {{else}}

        {{ember-chart
            type='bar'
            data=chartData
            options=chartOptions
        }}
      {{/if}}
  </div>
</div>