<div class="layout-sm-column layout-sm-align-space-between-stretch ">
  {{#paper-card as |card|}}
    {{#card.content}}
      <h3>Sign In</h3>
      {{#paper-form onSubmit=(action auth email password) as |form|}}
        <div class="layout layout-row">
          <div class="layout-column flex-100">
            {{form.input
                label="email"
                value=email
                type="email"
                onChange=(action (mut email))
                required=true
                autocomplete=false
            }}

            {{form.input
                label="password"
                value=password
                type="password"
                onChange=(action (mut password))
                required=true
                autocomplete=false
            }}
          </div>
        </div>
        <div class="layout-row">
          {{#form.submit-button raised=true primary=true}}Submit{{/form.submit-button}}
        </div>
      {{/paper-form}}
    {{/card.content}}
  {{/paper-card}}
</div>