{{#if session.isAuthenticated}}
  Logged in as {{session.currentUser.displayName}}
  <button {{action "signOut"}}>Sign out</button>
{{else}}
  <button>Sign in with Twitter</button>
{{/if}}
<div class="container-fluid">
  {{outlet}}
</div>
